---
import Layout from "../../layouts/Layout.astro";
const allPosts = await Astro.glob("./*.md");
const currentLocale = Astro.currentLocale;
---

<Layout title="Blog">
  <div class="relative mx-auto -mt-8">
    <div class="flex flex-col gap-8">
      {
        allPosts
          .sort(
            (a, b) =>
              Date.parse(b.frontmatter.pubDate) -
              Date.parse(a.frontmatter.pubDate)
          )
          .map((post, index) => (
            <a href={post.url}>
              <article class="relative group sm:rounded-2xl group-hover:bg-slate-50/70 dark:group-hover:bg-slate-800/50 cursor-pointer transition-all duration-500 flex flex-col bg-gray-900 bg-opacity-10 dark:bg-opacity-10 border-gray-300 border-opacity-50 dark:border-gray-100 border dark:border-opacity-10 backdrop-blur px-8 py-4 hover:scale-105">
                <div class="relative">
                  <div class="w-full flex justify-between items-center">
                    <h3
                      class="text-xl font-bold tracking-tight text-slate-900 dark:text-slate-200 pt-8 lg:pt-0 post-title title"
                      id={post.frontmatter.title}
                    >
                      {post.frontmatter.title}
                    </h3>
                  </div>
                  <div class="hidden lg:flex justify-between author" id="Fernando Meseguer">
                    <div class="flex-1 flex flex-col gap-3 pt-2 md:flex-row md:gap-0 lg:gap-3">
                      <div class="w-max">
                        <div class="flex items-center gap-3">
                          <div class="flex flex-col text-gray-800 dark:text-gray-600">
                            <span class="text-foreground mb-0 text-sm">
                              Fernando Meseguer
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-full mt-3 flex justify-between items-center">
                  <div class="flex items-center text-sm text-sky-500 font-medium">
                    <span class="relative">
                      Leer más
                      <span class="sr-only">,{post.frontmatter.title}</span>
                    </span>
                    <svg
                      class="relative mt-px overflow-visible ml-2.5 text-sky-300 dark:text-sky-700"
                      width="3"
                      height="6"
                      viewBox="0 0 3 6"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M0 0L3 3L0 6" />
                    </svg>
                  </div>
                  <div class="flex h-full gap-2 items-center">
                    <time
                      datetime="2024-06-21T15:00:00.000Z"
                      class="text-gray-500 text-xs"
                    >
                      {post.frontmatter.readingTime}
                    </time>
                    <dd class="whitespace-nowrap text-sm leading-6 dark:text-slate-400">
                      <time
                        datetime="2024-06-21T15:00:00.000Z"
                      >
                        ·{" "}
                        {new Date(post.frontmatter.pubDate).toLocaleDateString(
                          "es-es",
                          {
                            year: "numeric",
                            month: "short",
                            day: "numeric",
                          }
                        )}
                      </time>
                    </dd>
                  </div>
                </div>
              </article>
            </a>
          ))
      }
    </div>
  </div>
</Layout>
