---
interface Props {
  title: string;
  subtitle: string;
  href: string;
  class?: string;
  role?: string;
  subject?: string;
  imgSrc?: string;
}

const {
  href,
  title,
  subtitle,
  class: className,
  role,
  subject,
  imgSrc,
} = Astro.props;
---

<a
  class:list={[
    "group hover:-translate-y-1 hover:shadow-2xl hover:saturate-200 w-full rounded-3xl max-h-[20rem] relative cursor-pointer transition-all duration-500 flex flex-col bg-gray-900 bg-opacity-10 dark:bg-opacity-10 border-gray-300 border-opacity-50 dark:border-gray-100 border dark:border-opacity-10 backdrop-blur",
    className,
  ]}
  href={href}
>
  <div
    class="w-full h-full relative overflow-hidden rounded-3xl px-16 pt-11 md:p-6 md:px-6 md:pt-6 flex flex-col"
  >
    <div class="text-right flex flex-col z-20 text-gray-200">
      <span class="font-thin">{role}</span>
      <h2 class="font-extrabold">{subject}</h2>
    </div>
    <div
      class="relative z-10 md:translate-y-10 transition-all duration-700 flex grow shrink justify-center items-end group-hover:translate-y-4"
    >
      <div class="my-0 mx-auto w-full max-w-screen-2xl">
        <figure class="">
          <img
            src={imgSrc}
            srcset={imgSrc}
            alt="AI"
            width="810"
            height="422"
            loading="lazy"
            class="skip loaded"
          />
        </figure>
      </div>
    </div>
  </div>
</a>
