---
import "../css/main.css";
import { ViewTransitions } from "astro:transitions";
import HeaderMenu from "../components/layout/HeaderMenu.astro";
import Footer from "../components/layout/Footer.astro";
import RepulsionEffect from "../components/client/RepulsionEffect.vue";
interface Props {
  title: string;
  subtitle?: string;
  mainParagraph?: string;
  quote?: string;
}

const { title, subtitle, mainParagraph, quote } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Product Engineer con 8 años de experiencia desarrollando productos digitales"
    />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-black w-full h-full min-w-fit">
    <RepulsionEffect
      transition:persist
      is:inline
      client:idle
      client:only="vue"
    />
    <main class="relative w-full h-full">
      <HeaderMenu />
      <header
        class="my-[10rem] md:my-[10rem] mb-[3rem] flex flex-col gap-4 md:gap-11 relative items-center"
      >
        <h1
          class="text-center font-bold flex flex-col text-gray-200 dark:text-gray-400"
        >
          <span
            class="text-center dark:drop-shadow-md"
            style="font-size: clamp(3.2rem, .5692rem + 8.238vw, 13.75rem)"
            >{title}</span
          >
          {
            subtitle ? (
              <span class="text-4xl md:text-5xl text-center dark:drop-shadow-md md:leading-3">
                {subtitle}
              </span>
            ) : (
              ""
            )
          }
        </h1>
        {
          mainParagraph ? (
            <div class="max-w-4xl grid grid-cols-[1fr-min(65ch,100%-1fr)] relative text-gray-200 dark:text-gray-400">
              <h2 class="text-center text-2xl">{mainParagraph}</h2>
            </div>
          ) : (
            ""
          )
        }
      </header>
      <article
        class="m-auto p-2 md:max-w-screen-xl md:mt-[4rem] flex flex-col gap-14"
      >
        <slot />
      </article>

      {
        quote ? (
          <section class="w-full h-full md:p-10 flex items-center justify-center mt-32">
            <div class="flex items-center justify-center max-w-xl text-gray-200 dark:text-gray-400">
              <p class="text-center text-gray-200 dark:text-gray-400">
                "{quote}"
              </p>
            </div>
          </section>
        ) : (
          ""
        )
      }
    </main>
    <Footer />
  </body>
</html>
