---
import "../css/main.css";
import { ViewTransitions } from "astro:transitions";
import HeaderMenu from "../components/layout/HeaderMenu.astro";
import Footer from "../components/layout/Footer.astro";
import Background from "../components/client/Background.vue";

interface Props {
  title: string;
  subtitle?: string;
  mainParagraph?: string;
  quote?: string;
  showMe?: boolean;
}

const { title, subtitle, mainParagraph, quote, showMe } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Product Engineer con 8 años de experiencia desarrollando productos digitales"
    />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-gray-100 dark:bg-black w-full h-full min-w-fit">
    <Background client:only="vue" />
    <main class="relative w-full h-full">
      <HeaderMenu />

      <header class="pt-[6rem] md:pt-[7rem] flex flex-col gap-4 md:gap-4 relative items-center">
        <h1 class="text-center font-bold flex flex-col text-gray-800 dark:text-gray-200">
          <span
            class="text-4xl text-center dark:drop-shadow-md"
          >
            {title}
          </span>
          {subtitle ? (
            <span class="text-4xl md:text-5xl text-center dark:drop-shadow-md md:leading-3">
              {subtitle}
            </span>
          ) : (
            ""
          )}
        </h1>
        {mainParagraph ? (
          <div class="max-w-4xl grid grid-cols-[1fr-min(65ch,100%-1fr)] relative text-gray-600 dark:text-gray-200">
            <h2 class="text-center text-2xl">{mainParagraph}</h2>
          </div>
        ) : (
          ""
        )}
        <canvas
          class="fixed top-0 w-full h-full -z-10 opacity-0 dark:opacity-100"
          id="field"
          transition:persist
        />
      </header>

      <article
        class="m-auto p-2 md:max-w-screen-xl md:mt-[4rem] flex flex-col gap-14"
      >
        <slot />
      </article>

      {
        quote ? (
          <section class="w-full h-full md:p-10 flex items-center justify-center mt-32">
            <div class="flex items-center justify-center max-w-xl text-gray-800 dark:text-gray-200">
              <p class="text-center text-gray-800 dark:text-gray-200">
                "{quote}"
              </p>
            </div>
          </section>
        ) : (
          ""
        )
      }
    </main>
    <Footer />
  </body>
</html>
